 <div class="breadcrumbs" th:fragment="breader" xmlns:th="http://www.thymeleaf.org">
     <script type="text/javascript">
         try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
     </script>

     <ul id="breadcrumb" class="breadcrumb">
         <li>
             <i class="icon-home home-icon"></i>
             <a href="#">首页 </a>
         </li>
     </ul><!-- .breadcrumb -->

     <script type="text/javascript">
     jQuery(function($) {

         var mid = "";

         // 点击时候修改面包屑的文本
    	 $(".nav-list > li").click(function(event){

    	 });
    	 $(".icon-double-angle-right").click(function(event){

    	 });

         // 如果没有参数，直接打开第一个
         if ("" == mid || mid.length <= 0) {
             mid = $(".submenu > li:first").attr("id");
             openMenu(mid);
         } else {
			openMenu(mid);
         }


     });
     function openMenu(menuId) {
    	 if (null == menuId || undefined == menuId) {
    		 return;
    	 }
    	 // 顺序添加样式
    	 $("#" + menuId).addClass("open active");
    	 var $pMenu = $("#" + menuId).parent().parent();
    	 var pId = $pMenu.attr("id");
    	 openMenu(pId);

    	 // 倒序输出菜单名称
    	 var title = $("#" + menuId + " > a ").text();
    	 title = $.trim(title);
    	 if ("" != title && title.length > 0) {
    		 $("#breadcrumb").append("<li>" + title + "&nbsp;</li>");
    	 }
     }
     </script>

 </div>