<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">

        <meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap教程,Bootstrap中文" />
        <meta name="description" content="站长素材提供Bootstrap模版,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- basic styles -->
        <link th:href="@{~/v3/assets/css/bootstrap.min.css}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{~/v3/assets/css/font-awesome.min.css}" />

        <!-- page specific plugin styles -->
        <link rel="stylesheet" th:href="@{~/v3/assets/css/jquery-ui-1.10.3.full.min.css}" />
        <link rel="stylesheet" th:href="@{~/v3/assets/css/datepicker.css}" />
        <link rel="stylesheet" th:href="@{~/v3/assets/css/ui.jqgrid.css}" />

        <!-- ace styles -->
        <link rel="stylesheet" th:href="@{~/v3/assets/css/ace.min.css}" />
        <link rel="stylesheet" th:href="@{~/v3/assets/css/ace-rtl.min.css}" />
        <link rel="stylesheet" th:href="@{~/v3/assets/css/ace-skins.min.css}" />

        <script th:src="@{~/v3/assets/js/jquery-2.0.3.min.js}"></script>

</div>
