<div class="sidebar" id="sidebar" th:fragment="lefter" xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="icon-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="icon-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="icon-group"></i>
            </button>

            <button class="btn btn-danger">
                <i class="icon-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- #sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="open active">

            <a href="#" class="dropdown-toggle">
                <i class="icon-list"></i>
                <span class="menu-text"> 连接发送 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu open ">
                <li>
                    <a href="easyCnt">
                        <i class="icon-double-angle-right"></i>
                        极简模式
                    </a>
                </li>
                <li>
                    <a href="normalCnt">
                        <i class="icon-double-angle-right"></i>
                        普通模式
                    </a>
                </li>


                <li>
                    <a href="caseCnt">
                        <i class="icon-double-angle-right"></i>
                        用例模式
                    </a>
                </li>

            </ul>
        </li>

        <li >
            <a href="#" class="dropdown-toggle open">
                <i class="icon-exchange"></i>
                <span class="menu-text"> 依赖管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="addJar">
                        <i class="icon-double-angle-right"></i>
                        增加依赖
                    </a>
                </li>

                <li>
                    <a href="listJar">
                        <i class="icon-double-angle-right"></i>
                        依赖列表
                    </a>
                </li>
                <li>
                    <a href="editPom">
                        <i class="icon-double-angle-right"></i>
                        依赖编辑
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle open">
                <i class="icon-cogs"></i>
                <span class="menu-text"> 系统管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="listZk">
                        <i class="icon-double-angle-right"></i>
                        注册中心
                    </a>
                </li>
                <li>
                    <a href="sys">
                        <i class="icon-double-angle-right"></i>
                        系统配置
                    </a>
                </li>

            </ul>
        </li>

    </ul><!-- /.nav-list -->

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>