<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置Bean -->
    <bean id="dubboGroupService1" class="com.mmc.dubbo.provider.user.UserFeedbackServiceImpl"/>
    <bean id="dubboGroupService2" class="com.mmc.dubbo.provider.user.UserMemberServiceImpl"/>

    <!-- 引入配置文件 -->
    <import resource="classpath:dubbo.xml"/>

</beans>