<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Doe</title>
    <!-- 导入头部 ,统一引用那些静态资源  -->
    <link rel="stylesheet" th:href="@{~/v3/assets/css/chosen.css}" />
    <script th:replace="/pages/tpl/head::header"></script>
</head>
<body>

<div th:replace="/pages/tpl/top::topper"></div>


<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">

        <div th:utext="${menuHtml}"></div>

        <div class="main-content">
            <div th:replace="/pages/tpl/bread::breader"></div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        连接管理
                    </h1>
                </div>
                <!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row">

                            <div class="col-xs-12 col-sm-4">

                                <div class="widget-box">
                                    <div class="widget-header">
                                        <h4>提供者地址</h4>

                                        <span class="widget-toolbar">

														<a href="#" data-action="collapse">
															<i class="icon-chevron-up"></i>
														</a>

														<a href="#" data-action="close">
															<i class="icon-remove"></i>
														</a>
													</span>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <textarea class="form-control" id="txtConnect" rows="5"
                                                      placeholder="127.0.0.1:20880"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <div class="widget-box">
                                    <div class="widget-header">
                                        <h4>接口名称</h4>

                                        <span class="widget-toolbar">

														<a href="#" data-action="collapse">
															<i class="icon-chevron-up"></i>
														</a>

														<a href="#" data-action="close">
															<i class="icon-remove"></i>
														</a>
													</span>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">

                                            <textarea class="form-control" id="txtInterfaces" rows="5"
                                                      placeholder="com.mmc.dubbo.api.user.UserService"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /span -->
                            <div class="col-xs-12 col-sm-4">
                                <div class="widget-box">
                                    <div class="widget-header">
                                        <h4>方法名称</h4>

                                        <span class="widget-toolbar">

														<a href="#" data-action="collapse">
															<i class="icon-chevron-up"></i>
														</a>

														<a href="#" data-action="close">
															<i class="icon-remove"></i>
														</a>
													</span>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">

                                            <textarea class="form-control" id="txtMethods" rows="5"
                                                      placeholder="getCurrentById"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /span -->

                        </div>

                        <div class="hr hr-24"></div>

                        <div class="row">


                            <div class="col-xs-12 col-sm-4">
                                <div class="widget-box">
                                    <div class="widget-header">
                                        <h4>方法参数</h4>

                                        <span class="widget-toolbar">

														<a href="#" data-action="collapse">
															<i class="icon-chevron-up"></i>
														</a>

														<a href="#" data-action="close">
															<i class="icon-remove"></i>
														</a>
													</span>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">
                                                <textarea class="form-control" id="txtParams" rows="15"
                                                          placeholder=""></textarea>

                                        </div>
                                    </div>
                                </div>
                            </div><!-- /span -->

                            <div class="col-xs-12 col-sm-4">
                                <div class="widget-box">
                                    <div class="widget-header">
                                        <h4>响应结果</h4>

                                        <span class="widget-toolbar">

														<a href="#" data-action="collapse">
															<i class="icon-chevron-up"></i>
														</a>

														<a href="#" data-action="close">
															<i class="icon-remove"></i>
														</a>
													</span>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">
                                                <textarea id="txtResult" class="form-control"  rows="15"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /span -->

                        </div><!-- /row -->

                        <div class="row">
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="button" onclick="doSend();">
                                        <i class="icon-ok bigger-110"></i>
                                        发送
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn" type="reset">
                                        <i class="icon-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div><!-- /.col -->
                </div>

                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.main-content -->

    </div>
    <!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up"
       class="btn-scroll-up btn btn-sm btn-inverse"> <i
            class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<!-- /.main-container -->
<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>

<script th:src="@{~/v3/assets/js/chosen.jquery.min.js}"></script>
<script th:src="@{~/v3/assets/js/bootbox.min.js}"></script>
<script th:replace="/pages/tpl/foot::footer"></script>
<script th:src="@{~/v3/js/jquery.jsonEdit.js}"></script>

<script type="text/javascript">

    function doSend() {

        var conn = $("#txtConnect").val();
        var serviceName = $("#txtInterfaces").val();
        var methodName = $("#txtMethods").val();
        var json = $("#txtParams").val();

        if (null == conn || conn.length <= 0) {
            return;
        }
        if (null == serviceName || serviceName.length <= 0) {
            return;
        }
        if (null == methodName || methodName.length <= 0) {
            return;
        }
        if (null == json || json.length <= 0) {
            return;
        }
        var params = {"conn": conn, "json": json, "serviceName": serviceName, "methodName": methodName};
        Nora.Ajax("/doe/dubbo/doSendWithTelnet", params, function (data) {

            if (data.success && null != data.data && data.data.length > 0) {

                // on success
                $("#txtResult").val(data.data); // clear

            } else {
                // on fail
                bootbox.alert(null == data ? "操作失败！" : data.msg);
            }

        }, function (data) {
            // on error
            bootbox.alert(null == data ? "操作异常!" : data.msg);
        });

    }

    function doReset() {

        $("#txtMethods").val(""); // clear
        $("#txtInterfaces").val(""); // clear
    }

    jQuery(function($) {


    });
</script>

</body>
</html>