<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Doe</title>
    <!-- 导入头部 ,统一引用那些静态资源  -->
    <link rel="stylesheet" th:href="@{~/v3/assets/css/chosen.css}" />
    <script th:replace="/pages/tpl/head::header"></script>
    <style>
        .scroll { overflow-y: scroll; overflow-x: scroll;}
    </style>
</head>
<body>

<div th:replace="/pages/tpl/top::topper"></div>


<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">

        <div th:utext="${menuHtml}"></div>

        <div class="main-content">
            <div th:replace="/pages/tpl/bread::breader"></div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        依赖列表
                    </h1>
                </div>
                <!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12" >
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row">

                            <div class="col-xs-12">
                                <div class="table-responsive">

                                    <table id="grid-table"></table>
                                    <div id="grid-pager"></div>
                                </div>


                            </div>
                        </div>



                        <div class="hr hr-24"></div>


                    </div><!-- /.col -->
                </div>

                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.main-content -->

    </div>
    <!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up"
       class="btn-scroll-up btn btn-sm btn-inverse"> <i
            class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<!-- /.main-container -->
<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>

<script th:src="@{~/v3/assets/js/chosen.jquery.min.js}"></script>
<script th:src="@{~/v3/assets/js/bootbox.min.js}"></script>
<script th:replace="/pages/tpl/foot::footer"></script>

<script type="text/javascript">


    jQuery(function($) {

        var grid_selector = "#grid-table";
        var pager_selector = "#grid-pager";

        jQuery(grid_selector).jqGrid({
            url : "/doe/pom/doListJars",
            datatype : "json",
            height : 300,
            rownumbers: true,
            colNames : [ 'groupId', 'artifactId', 'version', '操作'],
            colModel:[
                {name: 'groupId', index: 'groupId',  editable: false, edittype: "text"},
                {name: 'artifactId', index: 'artifactId', width: 80,  editable: false},
                {name: 'version', index: 'version', hidden: false, edittype: "text"},
                {name: '', index: '', hidden: false, editable: false, edittype: "text"}
            ],

            viewrecords : true,
            rowNum : 500,
            rowList : [ 100, 200, 300 ],
            pager : pager_selector,
            altRows : true,
            //toppager: true,
            multiselect : false,
            //multikey: "ctrlKey",
            multiboxonly : true,
            loadComplete : function() {
                var table = this;
                setTimeout(function() {
                    JGridUtils.styleCheckbox(table);
                    JGridUtils.updateActionIcons(table);
                    JGridUtils.updatePagerIcons(table);
                    JGridUtils.enableTooltips(table);
                }, 0);
            },
            onSelectRow : function(ids) {

            },
            autowidth : true
        });

        // 渲染导航
        JGridUtils.renderNav(grid_selector, pager_selector);

    });

</script>

</body>
</html>