<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!--<springProperty scope="context" name="doe.logs.dir" source="doe.logs.dir" defaultValue="/app/logs"/>-->
    <property  name="doe.logs.dir" value="/app/logs"/>

    <!--  open when develop ,but donot execute-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%thread] %c.%M \(%F:%L\) - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${doe.logs.dir}/doe/svrs.log</file>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <Pattern>%d %-5p [%thread] %c.%M \(%F:%L\) %n%msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${doe.logs.dir}/doe/svrs.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="RedisRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${doe.logs.dir}/doe/redis-svrs.log</file>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <Pattern>%d %-5p [%thread] %c.%M \(%F:%L\) %n%msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${doe.logs.dir}/doe/redis-svrs.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>


    <!-- level: FATAL,ERROR,WARN,INFO,DEBUG,TRACE -->
    <root>
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="RollingFile"/>
    </root>
</configuration>